@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="ftco-counter img" id="section-counter" style="background-image: url(@Url.Content("~/Content/images/bg_3.jpg"));" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <p>
                Теплосервис ДВ, ООО зарегистрирована по адресу 690011, г. Владивосток, ул. Никифорова, д. 55А, 690011. Директор организации ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ТЕПЛОСЕРВИС ДВ" Лебединец Ольга Борисовна. Основным видом деятельности компании является Производство санитарно-технических работ, монтаж отопительных систем и систем кондиционирования воздуха. Также Теплосервис ДВ, ООО работает еще по 8 направлениям. Размер уставного капитала 10 000 руб.

                Компания Теплосервис ДВ, ООО принимала участие в 45 торгах из них выиграла 16. Основным заказчиком является РЖД, ОАО.

                ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ТЕПЛОСЕРВИС ДВ" присвоен ИНН 2537096565, КПП 253701001, ОГРН 1132537000012, ОКПО 20770898

                Действует с 09.01.2013
            </p>
        </div>
    </div>
</section>