<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2 logo"><span class="flaticon-bee"></span>Теплосервис</h2>
                    <p>Творческий подход и добросовестное отношение к делу, в котором не бывает мелочей, позволяет выполнить ремонт качественно и в срок. Гарантия на ремонт 18 МЕСЯЦЕВ.</p>

                </div>

            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-5 ml-md-4">
                    <h2 class="ftco-heading-2">Услуги</h2>
                    <p>Строительство</p>
                    <p>Ремонт</p>
                    <p>Дизайн интерьера</p>
                    <p>Проектировка</p>

                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> Все права защищены | Гарантия качества <i class="icon-heart" aria-hidden="true"></i> ООО <a href="/" target="_blank">Цент Теплосервис</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>
